In [1]:
import sqlalchemy
import pandas as pd
from Dependencies import credential_db

pd.set_option('display.max_columns', 100)

#### Connect to Data Production Jatim Camp 5

In [2]:
conn = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.
                                               format(credential_db.db_jatimcamp5_username, 
                                                      credential_db.db_jatimcamp5_password, 
                                                      credential_db.db_jatimcamp5_host, 
                                                      credential_db.db_jatimcamp5_name))

conn

Engine(mysql+pymysql://etlonly:***@35.225.122.70/jatimCamp5_production)

In [3]:
query_table = """show tables;"""
df_data_table = pd.read_sql(query_table,conn)
df_data_table

  Tables_in_jatimCamp5_production
0                       calendars
1                        listings
2                         reviews

#### Extract Listings from DWH

In [4]:
query_listings = """select * from listings"""
df_data_listings = pd.read_sql(query_listings, conn)
df_data_listings.shape

(400, 96)

In [5]:
df_data_listings.head(3)

,index,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,100,1109224,https://www.airbnb.com/rooms/1109224,20160906204935,2016-09-07,4 bedroom Victorian Condo unit,None,"Featuring a fully equipped kitchen, this four-...","Featuring a fully equipped kitchen, this four-...",none,None,None,None,None,None,Terms of the Agreement: 1. The Landlord has t...,https://a0.muscache.com/im/pictures/17730638/4...,https://a0.muscache.com/im/pictures/17730638/4...,https://a0.muscache.com/im/pictures/17730638/4...,https://a0.muscache.com/im/pictures/17730638/4...,1531239,https://www.airbnb.com/users/show/1531239,Lita,2011-12-23,"Boston, Massachusetts, United States",0,within an hour,100%,100%,f,https://a2.muscache.com/im/users/1531239/profi...,https://a2.muscache.com/im/users/1531239/profi...,Jamaica Plain,1,1,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"South Huntington Avenue, Boston, MA 02130, Uni...",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.320511,-71.112158,t,Apartment,Entire home/apt,8,2.0,4.0,6.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$429.00,"$2,699.00","$7,999.00",$400.00,None,6,$15.00,3,60,today,None,8,35,65,331,2016-09-06,35,2013-09-02,2016-09-05,91.0,10.0,9.0,9.0,10.0,9.0,9.0,f,None,None,f,strict,f,t,1,0.95
1,101,1067184,https://www.airbnb.com/rooms/1067184,20160906204935,2016-09-07,Lovely bedroom/use of whole apt.,None,"I have a room available in a cozy, spacious, f...","I have a room available in a cozy, spacious, f...",none,None,None,None,None,None,Smoke-free house.,https://a1.muscache.com/im/pictures/16041990/1...,https://a1.muscache.com/im/pictures/16041990/1...,https://a1.muscache.com/im/pictures/16041990/1...,https://a1.muscache.com/im/pictures/16041990/1...,848706,https://www.airbnb.com/users/show/848706,Phyllis,2011-07-21,"Boston, Massachusetts, United States","Originally from Massachusetts, but lived away ...",within a day,90%,62%,f,https://a2.muscache.com/im/users/848706/profil...,https://a2.muscache.com/im/users/848706/profil...,Jamaica Plain,1,1,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"Jamaica Street, Boston, MA 02130, United States",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.306333,-71.119025,t,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",NaN,$95.00,$635.00,None,None,None,1,$10.00,2,1125,a week ago,None,21,51,81,356,2016-09-06,53,2013-05-21,2016-09-02,95.0,9.0,9.0,10.0,9.0,10.0,9.0,f,None,None,f,flexible,f,f,1,1.32
2,102,13215952,https://www.airbnb.com/rooms/13215952,20160906204935,2016-09-07,The Blue Grotto,"A cozy retreat just over the hill from ""downto...",The room has a comfortable double bed. You can...,"A cozy retreat just over the hill from ""downto...",none,"Jamaica Plain (JP) mixes young & old, gay & st...",None,You're less than 10 minutes walk from either t...,You have access to the kitchen with its stash ...,I'm delighted to chat over a cuppa something o...,"You can smoke on the back porch. Smallish, we...",https://a2.muscache.com/im/pictures/dd81f4ad-5...,https://a2.muscache.com/im/pictures/dd81f4ad-5...,https://a2.muscache.com/im/pictures/dd81f4ad-5...,https://a2.muscache.com/im/pictures/dd81f4ad-5...,19798741,https://www.airbnb.com/users/show/19798741,Pam,2014-08-10,"Boston, Massachusetts, United States",I'm a natural explorer who delights in wanderi...,within a day,80%,90%,f,https://a0.muscache.com/im/users/19798741/prof...,https://a0.muscache.com/im/users/19798741/prof...,Jamaica Plain,2,2,"['email', 'phone', 'reviews', 'kba']",t,t,"John A Andrew Street, Boston, MA 02130, United...",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.309921,-71.110727,t,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{""Wireless Internet"",Kitchen,""Smoking Allowed""...",NaN,$69.00,None,None,None,$20.00,1,$0.00,1,7,a week ago,None,0,0,0,0,2016-09-06,0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,None,None,f,flexible,f,f,2,NaN

In [6]:
df_data_listings.columns

Index(['index', 'id', 'listing_url', 'scrape_id', 'last_scraped', 'name',
       'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

#### Transform Data Listings

> #### Change USD to NZD

In [7]:
df_data_listings['price'] = df_data_listings['price'].apply(lambda x: x.lstrip('$'))
df_data_listings['weekly_price'] = df_data_listings['weekly_price'].map(lambda x: x.lstrip('$'), na_action='ignore')
df_data_listings['monthly_price'] = df_data_listings['monthly_price'].map(lambda x: x.lstrip('$'), na_action='ignore')
df_data_listings['security_deposit'] = df_data_listings['security_deposit'].map(lambda x: x.lstrip('$'), na_action='ignore')
df_data_listings['cleaning_fee'] = df_data_listings['cleaning_fee'].map(lambda x: x.lstrip('$'), na_action='ignore')
df_data_listings['extra_people'] = df_data_listings['extra_people'].apply(lambda x: x.lstrip('$'))

In [8]:
df_data_listings['price'] = df_data_listings['price'].str.replace(',','')
df_data_listings['weekly_price'] = df_data_listings['weekly_price'].str.replace(',','')
df_data_listings['monthly_price'] = df_data_listings['monthly_price'].str.replace(',','')
df_data_listings['security_deposit'] = df_data_listings['security_deposit'].str.replace(',','')
df_data_listings['cleaning_fee'] = df_data_listings['cleaning_fee'].str.replace(',','')
df_data_listings['extra_people'] = df_data_listings['extra_people'].str.replace(',','')

In [9]:
df_data_listings['price'] = df_data_listings['price'].astype('float')
df_data_listings['weekly_price'] = df_data_listings['weekly_price'].astype('float')
df_data_listings['monthly_price'] = df_data_listings['monthly_price'].astype('float')
df_data_listings['security_deposit'] = df_data_listings['security_deposit'].astype('float')
df_data_listings['cleaning_fee'] = df_data_listings['cleaning_fee'].astype('float')
df_data_listings['extra_people'] = df_data_listings['extra_people'].astype('float')

In [10]:
df_data_listings['price'] = df_data_listings['price']*1.51
df_data_listings['weekly_price'] = df_data_listings['weekly_price']*1.51
df_data_listings['monthly_price'] = df_data_listings['monthly_price']*1.51
df_data_listings['security_deposit'] = df_data_listings['security_deposit']*1.51
df_data_listings['cleaning_fee'] = df_data_listings['cleaning_fee']*1.51
df_data_listings['extra_people'] = df_data_listings['extra_people']*1.51

In [11]:
df_data_listings['price']

0      647.79
1      143.45
2      104.19
3      128.35
4      104.19
        ...
395    410.72
396    128.35
397    105.70
398    151.00
399    164.59
Name: price, Length: 400, dtype: float64

> #### Change First Review to Date Time

In [12]:
df_data_listings['first_review'] = pd.to_datetime(df_data_listings['first_review'], errors='coerce')

In [13]:
df_data_listings['first_review'].head()

0   2013-09-02
1   2013-05-21
2          NaT
3   2013-06-07
4   2015-10-12
Name: first_review, dtype: datetime64[ns]

> #### Filter Data Listings with Date Time < 01-08-2014

In [14]:
df_data_listings = df_data_listings[df_data_listings['first_review'] < '2014-08-01']

In [15]:
df_data_listings.shape

(75, 96)

> #### Drop Column with URL

In [16]:
df_data_listings.drop(['listing_url', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 
                       'host_url', 'host_thumbnail_url', 'host_picture_url'],axis=1, inplace=True)

In [17]:
df_data_listings.shape

(75, 88)

#### Load Data Listings

In [18]:
conn_dwh = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.
                                               format(credential_db.db_jatimcamp5_DWH_username, 
                                                      credential_db.db_jatimcamp5_DWH_password, 
                                                      credential_db.db_jatimcamp5_DWH_host, 
                                                      credential_db.db_jatimcamp5_DWH_name))

conn_dwh

Engine(mysql+pymysql://etlonly:***@35.225.122.70/jatimCamp5_dwh)

> #### Push Clean Data Listings to DWH

In [ ]:
df_data_listings.to_sql(con=conn_dwh, name='LISTING_RIFQI_470', if_exists='replace', index = False)

In [ ]:
query_table = """show tables;"""

df_data_table = pd.read_sql(query_table,conn_dwh)

In [ ]:
df_data_table

#### Extract Reviews from DWH

In [19]:
query_reviews = """select * from reviews"""
df_data_reviews = pd.read_sql(query_reviews, conn)
df_data_reviews.head()

,index,listing_id,id,date,reviewer_id,reviewer_name,comments
0,0,1497879,21943405,2014-10-27,19785528,Jose Edwin,El apartamento está perfecto. Es tranquilo y e...
1,1,1497879,22093757,2014-10-29,22488375,Kayla,Sara was beyond nice and very helpful with all...
2,2,1497879,22229170,2014-11-02,12920446,Tim,We arrived on Friday night to be met by Sara. ...
3,3,1497879,22382070,2014-11-04,22359208,Emily,Me and my friend stayed to Sara's apartment on...
4,4,1497879,22435243,2014-11-06,22421241,Kori,Great host! Very accommodating to our late nig...

#### Transform Data Reviews

> #### Upper Case for Reviewer Name

In [20]:
df_data_reviews['reviewer_name'] = df_data_reviews['reviewer_name'].apply(lambda x: x.upper())

In [21]:
df_data_reviews['reviewer_name']

0      JOSE EDWIN
1           KAYLA
2             TIM
3           EMILY
4            KORI
          ...
495       SUYOUNG
496         RADIM
497         NESSA
498        JUDITH
499         IMANI
Name: reviewer_name, Length: 500, dtype: object

> #### Change Date Review to Date Time

In [22]:
df_data_reviews['date'] = pd.to_datetime(df_data_reviews['date'], errors='coerce')

In [23]:
df_data_reviews['date']

0     2014-10-27
1     2014-10-29
2     2014-11-02
3     2014-11-04
4     2014-11-06
         ...
495   2016-06-18
496   2016-06-28
497   2016-06-29
498   2016-07-02
499   2016-07-05
Name: date, Length: 500, dtype: datetime64[ns]

> #### Filter Data Reviews with Date Time > 2014-10-15

In [24]:
df_data_reviews = df_data_reviews[df_data_reviews['date'] > '2014-10-15']

In [25]:
df_data_reviews.shape

(500, 7)

#### Load Data Reviews

In [18]:
conn_dwh = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.
                                               format(credential_db.db_jatimcamp5_DWH_username, 
                                                      credential_db.db_jatimcamp5_DWH_password, 
                                                      credential_db.db_jatimcamp5_DWH_host, 
                                                      credential_db.db_jatimcamp5_DWH_name))

conn_dwh

Engine(mysql+pymysql://etlonly:***@35.225.122.70/jatimCamp5_dwh)

> #### Push Clean Data Listings to DWH

In [26]:
df_data_reviews.to_sql(con=conn_dwh, name='REVIEW_RIFQI_470', if_exists='replace', index = False)

In [27]:
query_table = """show tables;"""

df_data_table = pd.read_sql(query_table,conn_dwh)

In [28]:
df_data_table

               Tables_in_jatimCamp5_dwh
0              FILTER_AbdurrahmanST_137
1        LISTING_AKWILA FELICIANO P_403
2             LISTING_AbdurrahmanST_137
3                     LISTING_CAHYA_995
4           LISTING_KHISBYALGHOFARI_852
5                    LISTING_Nadjih_807
6                      LISTING_Neil_438
7              LISTING_NuraisaNovia_385
8                     LISTING_RIFQI_470
9   LISTING_Rahardhiyan Wahyu Putra_639
10                    LISTING_Yosua_786
11                    LISTING_james_200
12                      LISTING_via_731
13                     REVIEW_CAHYA_995
14           REVIEW_KHISBYALGHOFARI_852
15                    REVIEW_Nadjih_807
16                      REVIEW_Neil_438
17                     REVIEW_RIFQI_470
18   REVIEW_Rahardhiyan Wahyu Putra_639
19                     REVIEW_Yosua_786
20                     REVIEW_james_200
21                       REVIEW_via_731
22                            calendars
23                   calendars_adam_dsi
24                    listing_james_200
25                      reviews_airflow
26                  sample_listing_adam
27                   sample_review_adam